{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-house"></i> Accueil{% endblock %}

{% block body %}
<h5><strong>
    {% if "now"|date("H") < 12 %}
        Bonjour,
    {% elseif "now"|date("H") < 18 %}
        Bon après-midi,
    {% else %}
        Bonsoir,
    {% endif %}
</strong> {{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }}</h5>

{% set messages = [
    "Bienvenue sur l'intranet. Nous espérons que vous passerez une excellente journée.",
    "C'est toujours un plaisir de vous voir ici !",
    "Découvrez nos dernières actualités dans les sections dédiées.",
    "Nous sommes là pour vous accompagner dans votre travail.",
    "Avez-vous consulté les nouvelles annonces aujourd'hui ?",
    "Besoin d'aide ? Consultez le chatbot ou contactez-nous.",
    "Explorez nos outils pour simplifier votre quotidien professionnel.",
    "N'oubliez pas de consulter vos tâches prioritaires dans votre tableau de bord.",
    "Votre contribution fait toute la différence. Merci d'être avec nous.",
    "L'espace collaboratif est à votre disposition pour vos projets.",
    "N’hésitez pas à partager vos idées ou suggestions via le formulaire dédié."
] %}

{% set shuffledMessages = messages|shuffle %}
<p class="welcome-message">{{ shuffledMessages[0] }}</p>


<section>
        <p class="clock">
            <i class="fa-solid fa-clock"></i>
            {{ "now"|date("H:i") }}
        </p>

        <p class="current-day">
            <i class="fa-solid fa-calendar-day"></i>
            {% set dayOfWeek = "now"|date("l") %}
            {% if dayOfWeek == "Monday" %}Lundi
            {% elseif dayOfWeek == "Tuesday" %}Mardi
            {% elseif dayOfWeek == "Wednesday" %}Mercredi
            {% elseif dayOfWeek == "Thursday" %}Jeudi
            {% elseif dayOfWeek == "Friday" %}Vendredi
            {% elseif dayOfWeek == "Saturday" %}Samedi
            {% elseif dayOfWeek == "Sunday" %}Dimanche
            {% endif %}
        </p>

        <p class="current-date">
            <i class="fa-solid fa-calendar-alt"></i>
            {% set month = "now"|date("m") %}
            {% set day = "now"|date("d") %}
            {% set year = "now"|date("Y") %}
            {% set months = {
                '01': 'Janvier',
                '02': 'Février',
                '03': 'Mars',
                '04': 'Avril',
                '05': 'Mai',
                '06': 'Juin',
                '07': 'Juillet',
                '08': 'Août',
                '09': 'Septembre',
                '10': 'Octobre',
                '11': 'Novembre',
                '12': 'Décembre'
            } %}
            {{ day }} {{ months[month] }} {{ year }}
        </p>


        <p class="current-season">
            {% set month = "now"|date("m") %}
            {% if month in ['12', '01', '02'] %}
                <i class="fa-solid fa-snowflake"></i> Hiver
            {% elseif month in ['03', '04', '05'] %}
                <i class="fa-solid fa-seedling"></i> Printemps
            {% elseif month in ['06', '07', '08'] %}
                <i class="fa-solid fa-sun"></i> Été
            {% else %}
                <i class="fa-solid fa-leaf"></i> Automne
            {% endif %}
        </p>

</section>







    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
    
    <div class="home" data-controller="home">

    </div>

        {# {% if ldap_result is defined %}
            <div>
                {{ ldap_result }}
            </div>
        {% endif %} #}

        {% if is_granted('ROLE_ADMIN') %}
            <h5>Outils d'administration :</h5>
            <div class="feature-grid-adm">
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-ticket"></i> Gestion des tickets</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-robot"></i> Parc informatique</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-signature"></i> Signature mail</a>
                <a href="{{ path('app_all_profiles') }}" class="feature-item-adm"><i class="fa-solid fa-people-group"></i> Gestion des utilisateurs</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-book-skull"></i> Documentation</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-regular fa-clipboard"></i> Notes</a>
                <a href="{{ path('app_admin_documents') }}" class="feature-item-adm"><i class="fa-solid fa-file-shield"></i> Document ADM</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-calendar-check"></i> Vision des réservations</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-server"></i> Server</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-network-wired"></i> Intranet</a>
                <a href="{{ path('app_white_board') }}" class="feature-item-adm"><i class="fa-solid fa-chalkboard-user"></i> White board</a>
                <a href="{{ path('app_departments_show') }}" class="feature-item-adm"><i class="fa-solid fa-building"></i> Consulter les adresses postales</a>
                <a href="{{ path('app_departments_show') }}" class="feature-item-adm"><i class="fa-solid fa-people-arrows"></i> Prise en main a distance "Guacamole"</a>
                <a href="{{ path('app_cultural_event_list') }}" class="feature-item-adm"><i class="fa-solid fa-masks-theater"></i> Billet d'événement</a>
            </div>
        {% endif %}

        <h5>Mes liens rapides :</h5>
        <div class="my_links">
            {% for link in links %}
                <section class="my_link">
                    <a href="{{ link.url }}" target="_blank" title="Se rendre sur le lien : {{ link.name | capitalize }}" class="link-content">
                        <img src="{{ link.logo }}" alt="Favicon de {{ link.name }}" 
                            onerror="this.style.display='none'; this.nextElementSibling.style.display='inline';" 
                            class="favicon" style="height: 20px; width: 20px; margin-right: 8px;" />
                        <i class="fa-solid fa-earth-europe" style="display:none; margin-right: 8px;"></i>
                        <span class="link-name">{{ link.name | capitalize }}</span>
                    </a>
                    <div class="link-actions">
                        <a href="{{ path('app_link_edit', {id: link.id}) }}" title="Modifier le lien : {{ link.name | capitalize }}" class="edit-link"><i class="fa-solid fa-pencil"></i></a>
                        <a href="{{ path('app_link_delete', {id: link.id}) }}" title="Supprimer le lien : {{ link.name | capitalize }}" class="delete-link" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce lien ?')"><i class="fa-solid fa-eraser"></i></a>
                    </div>
                </section>
            {% endfor %}

            {% if links|length < 8 %}
                <section class="my_link">
                    <a href="{{ path('app_link_new') }}" title="Ajouter un lien aux accès rapides"><i class="fa-solid fa-plus"></i></a>
                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}

