{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-house"></i> Accueil{% endblock %}

{% block body %}
    <h5><strong>Bonjour,</strong> {{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }}</h5>
    <div class="home" data-controller="home">
        <div class="feature-grid">
            <div class="feature-item">
                <div class="feature-title">Annuaire des services <i class="fa-solid fa-angle-down arrow"></i></div>
                <div class="feature-content">
                    <div class="content-box"></div>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-title">Mes projets <i class="fa-solid fa-angle-down arrow"></i></div>
                <div class="feature-content">
                    <div class="content-box"></div>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-title">Mes réservations <i class="fa-solid fa-angle-down arrow"></i></div>
                <div class="feature-content">
                    <div class="content-box"></div>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-title">Nos événements <i class="fa-solid fa-angle-down arrow"></i></div>
                <div class="feature-content">
                    <div class="content-box"></div>
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <h5>Outils d'administration :</h5>
            <div class="feature-grid-adm">
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-ticket"></i> Gestion des tickets</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-robot"></i> Parc informatique</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-signature"></i> Signature mail</a>
                <a href="{{ path('app_all_profiles') }}" class="feature-item-adm"><i class="fa-solid fa-people-group"></i> Gestion des utilisateurs</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-book-skull"></i> Documentation</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-regular fa-clipboard"></i> Notes</a>
                <a href="{{ path('app_admin_documents') }}" class="feature-item-adm"><i class="fa-solid fa-file-shield"></i> Document ADM</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-calendar-check"></i> Vision des réservations</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-server"></i> Server</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-network-wired"></i> Intranet</a>
                <a href="{{ path('app_admin_tickets') }}" class="feature-item-adm"><i class="fa-solid fa-chalkboard-user"></i> White board</a>
                <a href="{{ path('app_departments_show') }}" class="feature-item-adm"><i class="fa-solid fa-building"></i> Consulter les adresses postales</a>
            </div>
        {% endif %}

        <h5>Mes liens rapides :</h5>
        <div class="my_links">
            {% for link in links %}
                <section class="my_link">
                    <a href="{{ link.url }}" target="_blank" title="Se rendre sur le lien : {{ link.name | capitalize }}" class="link-content">
                        <img src="{{ link.logo }}" alt="Favicon de {{ link.name }}" 
                            onerror="this.style.display='none'; this.nextElementSibling.style.display='inline';" 
                            class="favicon" style="height: 20px; width: 20px; margin-right: 8px;" />
                        <i class="fa-solid fa-earth-europe" style="display:none; margin-right: 8px;"></i>
                        <span class="link-name">{{ link.name | capitalize }}</span>
                    </a>
                    <div class="link-actions">
                        <a href="{{ path('app_link_edit', {id: link.id}) }}" title="Modifier le lien : {{ link.name | capitalize }}" class="edit-link"><i class="fa-solid fa-pencil"></i></a>
                        <a href="{{ path('app_link_delete', {id: link.id}) }}" title="Supprimer le lien : {{ link.name | capitalize }}" class="delete-link" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce lien ?')"><i class="fa-solid fa-eraser"></i></a>
                    </div>
                </section>
            {% endfor %}

            {% if links|length < 8 %}
                <section class="my_link">
                    <a href="{{ path('app_link_new') }}" title="Ajouter un lien aux accès rapides"><i class="fa-solid fa-plus"></i></a>
                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}

