{% extends 'base.html.twig' %}

{% block title %}Modifier le Document{% endblock %}

{% block body %}
    <h1>Modifier le Document : {{ document.title }}</h1>

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin_documents') }}" class="btn btn-secondary"> Retour aux documents</a>
{% endblock %}
