{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-file-circle-question"></i> Ajouter un Document Administrateur{% endblock %}

{% block body %}
    <h1>Ajouter un Document Administrateur</h1>

    
    <a href="{{ path('app_user_documents') }}"><i class="fa-solid fa-arrow-left-long"></i> Retour au documents administrateur</a>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    <form method="post" action="{{ path('app_admin_document_new') }}" enctype="multipart/form-data" class="document-form">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" ><i class="fa-solid fa-shield-halved"></i> Ajouter le Document</button>
    {{ form_end(form) }}
    </form>
{% endblock %}
