{# templates/pages/tickets/adminTickets.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-ticket-simple"></i> Gestion des tickets{% endblock %}

{% block body %}
    <h2>Gestion des Tickets</h2>
    <br>
    {% if pagination.getTotalItemCount() > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Consulté</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Statut</th>
                    <th>Priorité</th>
                    <th>Créé le</th>
                    <th>Vie du ticket</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in pagination.getItems() %}
                    <tr>
                        <td><a href="{{ path('app_ticket_show_admin', {id: ticket.id}) }}"><i class="fa-solid fa-eye"></i></a></td>
                        <td>{{ ticket.title }}</td>                        
                        <td>{{ ticket.description }}</td>
                        <td>
                            {% if ticket.status == 'Open' %}
                                <i class="fa-solid fa-person-digging"></i>
                            {% else %}
                                <i class="fa-solid fa-check"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if ticket.priority == 'low' %}
                                <i class="fa-solid fa-temperature-quarter priority priority-low"></i>
                            {% elseif ticket.priority == 'medium' %}
                                <i class="fa-solid fa-temperature-half priority priority-medium"></i>
                            {% elseif ticket.priority == 'high' %}
                                <i class="fa-solid fa-temperature-three-quarters priority priority-high"></i>
                            {% elseif ticket.priority == 'very high' %}
                                <i class="fa-solid fa-temperature-full priority priority-very-high"></i>
                            {% endif %}
                        </td>
                        <td>{{ ticket.createdAt|date('Y-m-d') }}</td>
                        <td>
                            {% if ticket.isDeleted %}
                                <i class="fa-solid fa-trash-can-arrow-up"></i>
                            {% else %}
                                <i class="fa-regular fa-floppy-disk"></i>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('app_admin_ticket_modify', {id: ticket.id}) }}"><i class="fa-solid fa-file-pen"></i></a></td>
                        <td>
                            <form method="post" action="{{ path('app_ticket_delete_admin', {id: ticket.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce ticket ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
                                <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun ticket trouvé.</p>
    {% endif %}

    {% if pagination.getPageCount() > 1 %}
        {% include 'bundles/KnpPaginatorBundle/Pagination/custom_pagination.html.twig' with { 'pagination': pagination } %}
    {% endif %}
{% endblock %}
