{# templates/pages/tickets/adminTickets.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tickets Admin{% endblock %}

{% block body %}
    <h2>Gestion des Tickets</h2>

    <button><a href="{{ path('app_create_ticket') }}">Créer un nouveau ticket</a></button>
    <br>
    {% if tickets is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Statut</th>
                    <th>Priorité</th>
                    <th>Créé le</th>
                    <th>Vie du ticket</th>
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.priority }}</td>
                    <td>{{ ticket.createdAt|date('Y-m-d') }}</td>
                    <td>{% if ticket.isDeleted %}Supprimé par l'utilisateur{% else %}Actif{% endif %}</td>
                    <td><a href="{{ path('app_admin_ticket_modify', {id: ticket.id}) }}">Modifier</a></td>
                    <td>
                        <form method="post" action="{{ path('app_ticket_delete_admin', {id: ticket.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce ticket ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun ticket trouvé.</p>
    {% endif %}
{% endblock %}
