{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-ticket-simple"></i> Gestion des tickets{% endblock %}

{% block body %}
    <h2>Gestion des Tickets</h2>
    <br>
    {% if pagination.getTotalItemCount() > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Consulté</th>
                    <th>Utilisateur</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Priorité</th>
                    <th>Créé le</th>
                    <th>Régler</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in pagination.getItems() %}
                    <tr class="{% if ticket.status == 'Closed' %}closed-ticket{% endif %}"> 
                        <td><a href="{{ path('app_ticket_show_admin', {id: ticket.id}) }}"><i class="fa-solid fa-eye" title="Consulté le ticket : {{ ticket.id }} | {{ ticket.title }}, {{ ticket.user.username }}"></i></a></td>
                        <td>{{ ticket.user.username }}</td>
                        <td>{{ ticket.title }}</td>                        
                        <td>{{ ticket.description }}</td>
                        <td>
                            {% if ticket.priority == 'low' %}
                                <i class="fa-solid fa-temperature-quarter priority priority-low" title="Priorité : Basse"></i>
                            {% elseif ticket.priority == 'medium' %}
                                <i class="fa-solid fa-temperature-half priority priority-medium" title="Priorité : Moyene"></i>
                            {% elseif ticket.priority == 'high' %}
                                <i class="fa-solid fa-temperature-three-quarters priority priority-high" title="Priorité : Haute"></i>
                            {% elseif ticket.priority == 'very high' %}
                                <i class="fa-solid fa-temperature-full priority priority-very-high" title="Priorité : Très Haute" ></i>
                            {% endif %}
                        </td>
                        <td>{{ ticket.createdAt|date('d/m/Y') }}</td>
                        <td>
                            <form method="post" action="{{ path('app_ticket_status_admin', {id: ticket.id}) }}" title="Changer le status du ticket : ID{{ticket.id}} de {{ ticket.user.username }} il sera donc clos" style="display: inline;">
                                <label class="switch">
                                    <input type="checkbox" name="status" value="Closed" 
                                        {% if ticket.status == 'Closed' %}checked{% endif %} 
                                        onchange="this.form.submit()">
                                    <span class="slider round"></span>
                                </label>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{ path('app_ticket_delete_admin', {id: ticket.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce ticket ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
                                <button class="button-delete" type="submit"><i class="fa-solid fa-trash-can" title="Supprimer le ticket : ID{{ticket.id}} de {{ ticket.user.username }} définitivement"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun ticket trouvé.</p>
    {% endif %}

    {% if pagination.getPageCount() > 1 %}
        {% include 'bundles/KnpPaginatorBundle/Pagination/custom_pagination.html.twig' with { 'pagination': pagination } %}
    {% endif %}
{% endblock %}
