{% extends 'base.html.twig' %}

{% block title %}Création de Ticket{% endblock %}

{% block body %}
    <h1>Crée un ticket :</h1>

{{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Crée le ticket</button>
    {{ form_end(form) }}

    <h1>Ce ticket sera envoyé au service informatique :</h1>

    <section class="tickets_listofmoderation">
        <ul>
            {% for admin in admins %}
                <li>
                    <div>
                        {{ admin.firstName }} {{ admin.lastName }}    
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
