{% extends 'base.html.twig' %}

{% block title %}Création de Ticket{% endblock %}

{% block body %}
    <h1>Crée un ticket :</h1>

{{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}

    <h4>Ce ticket sera envoyé au service informatique :</h4>
    <ul>
        {% for admin in admins %}
            <li>{{ admin.firstName }} {{ admin.lastName }}</li>
        {% endfor %}
    </ul>
{% endblock %}
