{% extends 'base.html.twig' %}

{% block title %}Mes tickets{% endblock %}

{% block body %}
    <h2>Mes Tickets</h2>
    
    <button><a href="{{ path('app_create_ticket') }}">Nouveau ticket</a></button>
    <br>
{% if tickets is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Statut</th>
                    <th>Priorité</th>
                    <th>Créé le</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun ticket trouvé.</p>
    {% endif %}
{% endblock %}


