{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-users"></i> Liste des profils utilisateurs{% endblock %}

{% block body %}
    <div class="profiles-container">
        <h1>Tous les utilisateurs</h1>

        <div class="profiles-grid">
            {% for user in pagination.getItems() %}
                <div class="profile-card">
                    {% if user.profile %}
                        <img src="{{ user.profile.avatar ? asset('uploads/profile_images/' ~ user.profile.avatar) : asset('images/profile-placeholder.jpg') }}" 
                             alt="Photo de profil de {{ user.firstname }} {{ user.lastname }}" 
                             class="profile-image">
                        <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                        <p>{{ user.profile.phone }}</p>
                        <p>{{ user.profile.address }}</p>
                        {# <p>{{ user.profile.department.name }}</p> #}
                        <a href="{{ path('app_public_profile', { id: user.id }) }}" class="view-profile">Voir le profil</a>
                    {% else %}
                        <div class="profile-placeholder">
                            <h2>{{ user.username }}</h2>
                            <p>Pas d'information complémentaire</p>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <p>Aucun profil utilisateur trouvé</p>
            {% endfor %}
        </div>

        {% if pagination.getPageCount() > 1 %}
            {% include 'bundles/KnpPaginatorBundle/Pagination/custom_pagination.html.twig' with { 'pagination': pagination } %}
        {% endif %}
    </div>
{% endblock %}
