{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-user"></i> Mon Profil - {{ app.user.firstName | capitalize }} {{ app.user.lastName | capitalize }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mon Profil</h1>
    <div class="profile-picture">
        <img src="{{ asset(avatarPath) }}" alt="Photo de profil de {{ app.user.firstName | capitalize }} {{ app.user.lastName | capitalize }}">
    </div>
        <form action="{{ path('app_delete_avatar') }}" method="post" style="margin-top: 10px;">
        <button type="submit" class="button-delete" title="Vos photos sont stockées sur l'intranet. Vous pouvez les supprimer définitivement à tout moment. Lorsque vous changez de photo, l'ancienne est automatiquement supprimée. Vous restez maître de tous vos contenus.">Supprimer ma photo de profil</button>
    </form>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" ><i class="fa-solid fa-floppy-disk"></i> Sauvegarder</button>
    {{ form_end(form) }}


</div>

{% endblock %}
