{% extends 'base.html.twig' %}

{% block title %}Recherche de profil{% endblock %}

{% block body %}
<div class="user-profile">
    <h1>Profil utilisateur de {{ user.firstName }} {{ user.lastName }}</h1>

    {% if profile %}
        <div class="user-details">
            <a href="{{ path('app_all_profiles') }}"><i class="fa-solid fa-arrow-left-long"></i> Retour a la liste d'utilisateurs</a>
            <br>
            <br>
            {% set avatarPath = profile.avatar ? '/uploads/profile_images/' ~ profile.avatar : '/uploads/profile_images/default-avatar.png' %}
            
            <img src="{{ avatarPath }}" alt="Avatar de {{ user.firstName }}" class="user-avatar" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
            <br>
            <p><strong><i class="fa-solid fa-envelope main-color"></i> Adresse email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>

            {% if user.profile.phoneFixed %}
                <p><strong><i class="fa-solid fa-square-phone main-color"></i> Numéro de téléphone fixe :</strong> {{ user.profile.phoneFixed }}</p>
                {% else %}
                <p><strong><i class="fa-solid fa-square-phone main-color"></i> Numéro de téléphone fixe :</strong> <em>Non communiquer</em></p>
            {% endif %}

            {% if user.profile.phoneMobile %}
                <p><strong><i class="fa-solid fa-mobile-screen main-color"></i> Numéro de téléphone portable :</strong> {{ user.profile.phoneMobile }}</p>
                {% else %}
                <p><strong><i class="fa-solid fa-mobile-screen main-color"></i> Numéro de téléphone portable :</strong> <em>Non communiquer</em></p>
            {% endif %}
            

            {% if profile.bio %}
                <p><strong><i class="fa-solid fa-book main-color"></i> Bio:</strong> {{ profile.bio }}</p>
            {% else %}
                <p><strong><i class="fa-solid fa-book main-color"></i> Bio:</strong> <em>Non communiquer</em></p>
            {% endif %}

            {% if profile.linkedinUrl %}
                <p><strong><i class="fa-brands fa-linkedin main-color"></i> LinkedIn:</strong> <a href="{{ profile.linkedinUrl }}" target="_blank">{{ profile.linkedinUrl }}</a></p>
            {% else %}
                <p><strong><i class="fa-brands fa-linkedin main-color"></i> LinkedIn:</strong> <em>Non communiquer</em></p>
            {% endif %}

            <p><strong><i class="fa-solid fa-map-location-dot main-color"></i> Lieux de travail :</strong> {{ profile.user.department.name }}</p>
        
            {% if is_granted('ROLE_ADMIN') %}
            <br>
            <h6><i class="fa-solid fa-shield-halved"></i> Outils Administrateur</h6>
                <a href="{{ path('app_edit_profile', {id: user.id}) }}" class="button-edit"><i class="fa-solid fa-hammer"></i> Modifier le profil de l'utilisateur</a>
                <form action="{{ path('app_delete_user', {id: user.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');" style="display: inline;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete-user-' ~ user.id) }}">
                    <button type="submit" class="button-delete strong"><i class="fa-solid fa-trash"></i> Supprimer l'utilisateur</button>
                </form>
            {% endif %}

        </div>

    {% else %}
        <p class="user-no-profile">Les informations de cet utilisateur ne sont pas encore disponibles...</p>
    {% endif %}
</div>

{% endblock %}
