{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-address-card"></i> Me Connecter{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déja connecté avec le nom d'utilisateur : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}

    <h3>Se connecter</h3>
    <label for="inputUsername">Nom d'utilisateur (prenom.nom) :</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Mot de passe de session :</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Souhaitez-vous resté connecter ?
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
