{% extends 'base.html.twig' %}

{% block title %} Lien{% endblock %}

{% block body %}
    <h1>Ajouter un lien :</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.url) }}
    {{ form_row(form.logo) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}

