{% extends 'base.html.twig' %}



{% block title %}<i class="fa-solid fa-calendar-alt"></i> Billeterie événementiel de la culture{% endblock %}

{% block body %}

    <h1>Liste des tickets</h1>

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

    <br>
    <a href="{{ path('app_cultural_event_new') }}" class="button-send" role="button"><i class="fa-solid fa-plus"></i> Crée un ticket d'événement</a>

    <form id="searchForm" method="get" action="{{ path('app_cultural_event_list') }}">
        <br>
        <div style="position: relative; width: 100%;">
            <input type="text" id="searchInput" name="search" placeholder="Rechercher un événement">
            <i class="fa-solid fa-search search-icon"></i>
        </div>
    </form>

<div id="culturalEventsGrid" class="cultural-events-container">
    {% if culturalEvents is not empty %}
        {% for culturalEvent in culturalEvents %}
            <a href="{{ path('app_cultural_event_show', {id: culturalEvent.id}) }}">
                <div class="ticket" style="width: 200mm; height: 70mm; box-sizing: border-box; background-image: url('./uploads/culturalEvent/background/{{ culturalEvent.background }}'); background-size: cover; background-position: center; background-repeat: no-repeat; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <div class="content">
                        <!-- Section Gauche -->
                        <div class="left">
                            <h1 class="serial">{{ culturalEvent.series }}</h1>
                            <p class="placement">{{ culturalEvent.placing }}</p>
                            <p class="ticket-number">N° billet : <br>
                                <span>1</span></p>
                            <p>{{ culturalEvent.department.address }}<br>{{ culturalEvent.department.postalCode }} {{ culturalEvent.department.city }}</p>
                            <p>{{ culturalEvent.siret }}</p>
                            <p>{{ culturalEvent.licence }}</p>
                        </div>

                        <!-- Section Centre -->
                        <div class="center">
                            <h1 class="serial">{{ culturalEvent.series }}</h1>
                            <p class="placement">{{ culturalEvent.placing }}</p>
                            <p class="ticket-number">N° billet : <br>
                                <span>1</span></p>
                            <p>{{ culturalEvent.department.address }}, {{ culturalEvent.department.postalCode }} {{ culturalEvent.department.city }}<br>
                            {{ culturalEvent.licence }}</p>
                        </div>

                        <!-- Section Droite -->
                        <div class="right">
                            <h1 class="serial">{{ culturalEvent.series }}</h1>
                            <p class="placement">{{ culturalEvent.placing }}</p>
                            <p class="ticket-number">N° billet : <br>
                                <span>1</span></p>
                            <p>{{ culturalEvent.department.address }}, {{ culturalEvent.department.postalCode }} {{ culturalEvent.department.city }}<br>
                            {{ culturalEvent.licence }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>Aucun ticket n'a été trouvé</p>
    {% endif %}
</div>


{% endblock %}
