{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-calendar-check"></i> View Event: {{ event.title }}{% endblock %}

{% block body %}
    <a href="{{ path('app_cultural_event_list') }}" ><i class="fa-solid fa-arrow-left-long"></i> Retourner sur les événements</a>
    <br>
    <h1>{{ event.title }}</h1>
    <br>
    <a href="#" class="btn btn-primary" onclick="generatePdf({{ event.id }});">Générer PDF</a>

    <script>
        function generatePdf(eventId) {
            let startNumber = prompt("Entrez le numéro de début", 1);
            let endNumber = prompt("Entrez le numéro de fin", 10);

            if (startNumber != null && endNumber != null) {
                startNumber = parseInt(startNumber);
                endNumber = parseInt(endNumber);

                // Vérification si startNumber est bien inférieur ou égal à endNumber
                if (isNaN(startNumber) || isNaN(endNumber) || startNumber > endNumber) {
                    alert('Le numéro de début doit être un nombre entier et inférieur ou égal au numéro de fin.');
                } else {
                    // Rediriger vers la route pour générer le PDF
                    window.location.href = `/cultural/event/${eventId}/generate-pdf/${startNumber}/${endNumber}`;
                }
            }
        }
    </script>

    <a href="{{ path('app_cultural_event_edit', {id: event.id}) }}" class="button-edit">Modifier le ticket</a>
    <a href="#" class="button-delete" onclick="deleteEvent({{ event.id }}, '{{ event.title }}')">Supprimer le ticket</a>

    <form id="delete-event-form-{{ event.id }}" method="post" action="{{ path('app_cultural_event_delete', {id: event.id}) }}" style="display:none;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    </form>

    <br>

    <h6>ID: {{ event.id }}</h6>
    <h6>Title: {{ event.title }}</h6>
    <img src="/uploads/culturalEvent/logo/{{ event.logo }}" alt="Logo" height="100px">
    <img src="/uploads/culturalEvent/seasons/{{ event.season }}" alt="Season" height="100px">
    <h6>Series: {{ event.series }}</h6>
    <h6>Placing: {{ event.placing }}</h6>
    <h6>Siret: {{ event.siret }}</h6>
    <h6>Licence: {{ event.licence }}</h6>
    <img src="/uploads/culturalEvent/background/{{ event.background }}" alt="Background" height="100px">
    <h6>Department: {{ event.department.name }}</h6>
    <h6>Updated at: {{ event.updatedAt|date('Y-m-d H:i:s') }}</h6>


    <script>
        function deleteEvent(eventId, eventTitle) {
            if (confirm('Vous-êtes sûr de vouloir supprimer ' + eventTitle + ' ?')) {
                document.getElementById('delete-event-form-' + eventId).submit();
            }
        }
    </script>
{% endblock %}
